/* Aspect du curseur par défaut
==================================================================== */
body {
	/*On enlève l'affichage du curseur par défaut*/
	cursor: none;
}

img {
	/*On met le curseur de type pointer au survol de l'image*/
	cursor: pointer;
}

/*VOIR: https://css-tricks.com/a-complete-guide-to-custom-properties/*/
/* CSS pour l'aspect visuel et le contrôle d'un curseur personnalisé
==================================================================== */

.curseur {
	height: 4rem;
	width: 4rem;
	background-color: rgba(232, 16, 16, 0.6);
	border: 3px solid #f9f9f9;
	border-radius: 50%;

	/*Positionnement CSS: fixed
	- pour l'enlever du flux normal du document et le positionner par rapport à la fenêtre du navigateur (viewport)
	- pour permettre également le positionnement de ses pseudo-éléments
	*/
	position: fixed;

	/*Positions top et left calculés avec JavaScript selon la position du pointeur de la souris dans la fenêtre (viewport) avec l'ajout d'un décalage pour que le centre du curseur perso corresponde à la position du pointeur par défaut (MOINS 1/2 largeur et MOINS 1/2 hauteur)*/
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);

	/*Affichage en avant-plan de tous les autres éléments HTML*/
	z-index: 1000;

	/*Le curseur ne doit pas recevoir les événements des appareils de pointeurs...*/
	pointer-events: none;

	/*****NOUVELLE PROPRIÉTÉ*****/
	/*Le navigateur doit être à l'affut des changements de propriétés du curseur
    afin qu'il puisse mettre en place les optimisations nécessaires pour l'affichage et la réactivité de la page
    La propriété will-change doir être utilisée avec PARCIMONIE
    voir: https://developer.mozilla.org/fr/docs/Web/CSS/will-change
  */
}

/* Cosmétique (point centre)
====================================================================*/
.curseur::before {
	content: "";
	position: absolute;
	height: 1rem;
	width: 1rem;
	background-color: #f9f9f9;
	border-radius: 50%;
}


.cacher {
	display: none;
}