/* Normalisation supplémentaire
============================================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styles de base pour téléphone
============================================================*/
html {
	height: 100vh;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/*Ajustement de la taille des polices à la racine du document*/
	font-size: clamp(12px, 0.5rem + 0.5vw, 18px);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	color: #feffff;

	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column;
}

header {
	/*Largeur de l'écran*/
	width: 100%;
	height: 40vh;
	background-color: #02ae90;
	border-bottom: 0.5rem solid whitesmoke;

	/*Position fixe en haut de la page*/
	position: fixed;
	/*En avant-plan*/
	z-index: 100;

	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
}

h2 {
	color: #ff7673;
	padding: 0.5rem;
}

nav {
	width: 100%;
	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	color: whitesmoke;
	padding: 0.4rem 0;
	border-top: 1px solid whitesmoke;
	transform-origin: center bottom;
	transition: transform 500ms;
}

a:hover {
	transform: scale(1.2);
}

section {
	width: 100%;
	min-height: 100vh;
	background-color: #ffd3a1;
	padding-top: 40vh;

	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column;
}

section:nth-child(even) {
	background-color: #fbc58a;
}

p {
	font-size: 1.2rem;
	margin: 0 4rem;
	padding-top: 1rem;
	/* user-select: none; */
}

section>p:last-child {
	padding-bottom: 1rem;
}

code,
pre {
	color: #ff7673;
}

pre.code {
	display: block;
	margin: 1rem 10rem;
	padding: 1rem 3rem;
	width: fit-content;
	background-color: #feffff;
}

div {
	font-size: 2rem;
	background-color: #02ae90;
	color: whitesmoke;
	padding: 0.5rem;
	cursor: pointer;
}

/* Styles pour les écrans plus larges
============================================================*/
@media screen and (min-width: 768px) {
	header {
		height: 15vh;
	}

	nav {
		/*Devient un onteneur flex en rangée*/
		flex-direction: row;
	}

	section {
		padding-top: 15vh;
	}

	a {
		padding: 0;
		border-top: none;
	}
}