/* Examens des possibliltés avec les pseudo-éléments
============================================================*/

/*Normalisation additionnelle*/

/*Styles de base additionnels*/
.paragraphe,
.avant,
.apres,
.vide,
.bouton {
	margin: 1rem 4rem;
	padding: 1rem 2rem;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
}

.vide,
.bouton {
	border-radius: 0;
}

/* VOLET 1 - Base - styliser du texte
============================================================*/

p.paragraphe::first-letter {
	font-size: 3rem;
	font-weight: bold;
	background-color: rgb(0, 88, 203);
	color: aliceblue;
	display: inline-block;
	padding: 0.25rem;
}

p::first-line {
	color: #090;
	font-style: italic;
}

/*
 {
    font-size: 3.5rem;
    font-style: italic;
    color: #02ae90;
}

 {
    font-style: italic;
    color: #02ae90;
}
*/

/* VOLET 2 - Ajout de contenu cosmétique à un élément HTML
============================================================*/
.avant,
.apres {
	color: #ff7673;
	font-size: x-large;
	padding: 0 0.5rem;
}

.avant-theorie::before {
	/*À compléter*/
	content: "😌";
}

.apres-theorie::after {
	/*À compléter*/
	content: '\13393';
}

/* PRATIQUE ======================*/

.avant-pratique {
	/*À compléter*/
}

.apres-pratique {
	/*À compléter*/
}

/* VOLET 3 - Ajout et formatage de contenu VIDE à un élément HTML
===================================================================*/
.vide {
	/*À compléter*/
	position: relative;
	border: 2px solid green;
}

.vide1::before {
	/*À compléter*/
	position: absolute;
	content: "";
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	border: 10px solid #ff7673;
}

.vide2::before {
	/*À compléter*/
	border: 2px solid #ff7673;
}

/* PRATIQUE ======================*/

.vide3 {
	/*À compléter*/
	border: 2px solid #ff7673;
}

/*  VOLET 4 - Ajout de contenu VIDE à un élément HTML
    avec effet de transition au survol
===================================================================*/
.bouton {
	/*À compléter*/
	position: relative;
}

.bouton1::before {
	/*À compléter*/
	position: absolute;
	content: "";
	background-color: white;
	height: 10px;
	bottom: 0;
	left: 0;
	right: 100%;
	transition: right 0.5s;
}

.bouton1:hover::before {
	/*À compléter*/
	right: 0;
}

/* PRATIQUE ======================*/

.bouton2 {
	/*À compléter*/
}

.bouton2 {
	/*À compléter*/
}

/*  VOLET 5 - Ajout de contenu VIDE à un élément HTML
    puis l'afficher et l'animer avec ou sans JavaScript
===================================================================*/

/*Animation continue*/
@keyframes anim-pseudo {
	from {
		right: 100%;
	}

	to {
		right: 0%;
	}
}

.vide4::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 100%;
    bottom: 0%;
    background: white;
    height: 0.4rem;
	animation: anim-pseudo 0.3s infinite alternate linear;
}

/*Animation avec interactivité*/

.bouton3 {
	padding-left: 3rem;
	position: relative;
	user-select: none;
}

@keyframes tourner-crochet {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(30deg);
	}
}

.bouton3.est-clique {
	background: #ff7673;
}

.bouton3.est-clique::before {
	content: "";
	position: absolute;
	height: 60%;
	left: 0%;
	top: 20%;
	width: 1.2rem;

	border-color: whitesmoke;
	border-style: solid;
	/* border-width : haut | droite | bas | gauche */
	border-width: 0 5px 5px 0; /* TRBL */

	/*On met son point de transformation en bas à droite*/
	transform-origin: bottom right;

	/*Animation*/
	animation: tourner-crochet 250ms forwards;
}